<div class="row">
  <div class="col-12 col-lg-12">
    <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
      <div class="row">
        <div class="col-12">
          <center><h1>Корзина пуста</h1></center>
        </div>
        <hr>
        <div class="col-10">

        </div>
        <div class="col-2">
          <p><%= @cart.total %> M</p>
        </div>
      </div>
    </div>
  </div>
</div>
