<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= render 'cart/navbar' %>
    <div class="container">
      <%= render partial: 'cart/cart' if @render_cart %>
    </div>
  </body>
</html>
