<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>


  </head>
  <body>
    <center><h1>Интерфейс</h1></center>
    <%= render 'navbar' %>
    <div class="row">
      <%= render 'carousel' %>
    </div>
  </body>
</html>
