
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <center><h1>Опции</h1></center>
    <%= render 'navbar' %>
    <div class="container-fluid">
      <div class="row">
        <%= render 'genders' %>
        <%= render 'categories' %>
        <%= render 'currency' %>

      </div>
    </div>
  </body>
</html>
