<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= render 'include/navbar' %>
  </body>
</html>
<div class="col-12 col-lg-6">
    <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
      <div class="row">
        <% @products.each do |product| %>
          <div class="col-2">
            <p style="font-size: 12px;"><%= product.product_code %></p>
          </div>
          <div class="col-2">
            <p style="font-size: 12px;"><%= product.name %></p>
          </div>
          <div class="col-2">
            <% @category = Category.where(id: product.category_id) %>
            <p style="font-size: 12px;"><%= @category.first.name %></p>
          </div>
          <hr>
        <% end %>
      </div>
    </div>
  </div>
